*.obj
*.lib
*.exe
*.dll
sndfile.h
*.ilk
*.pdb
*.wav
mono_library/
build/
*.pyc
*.hrtf
!default_hrtf.hrtf
venv/
*.ogg
#unfortunately, unlike the diffuse dataset, the regular MIT dataset is very, very large and needs to be ignored.
mit kemar dataset/
#Python bytecode caches.
__pyecache__