[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "powercores"]
	path = powercores
	url = http://github.com/camlorn/powercores.git
[submodule "openAL-Soft"]
	path = openAL-Soft
	url = http://github.com/camlorn/openAL-Soft.git
